Package: com.gilshahar7.exacttime
Name: ExactTime
Depends: mobilesubstrate
Version: 1.6
Architecture: iphoneos-arm
Description: Shows the exact time of a notification.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
